<template>
  <div class="">
    <div>
      <router-link
        to="/contact"
        class="cursor-pointer text-3xl font-medium text-gray-500"
      >
        Contact ><span class="text-black"> Details</span>
      </router-link>
    </div>

    <div class="bg-white rounded-lg px-4 py-4 mt-4">
      <h4 class="text-lg font-medium">Contact Information</h4>
      <div class="grid grid-rows-3 grid-flow-col">
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">
              Name of the groups
            </div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal text-start">
              {{ groups.name }}
            </div>
          </div>
        </div>
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">Total targets</div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal">
              {{ groups.total_contacts }}
            </div>
          </div>
        </div>
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">Channels</div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div
              v-for="(item, index) in groups.channel"
              :key="index"
              class="w-1/2 whitespace-normal"
            >
              <p>{{ item }}</p>
            </div>
          </div>
        </div>

        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">Validate</div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal">0</div>
          </div>
        </div>
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2 whitespace-normal text-start">Unvalidate</div>
            <div class="w-1/4 whitespace-normal text-center">:</div>
            <div class="w-1/2 whitespace-normal text-start">0</div>
          </div>
        </div>
        <div class="grid grid-cols px-10">
          <div class="flex justify-between pt-4 pb-2 font-medium">
            <div class="w-1/2"></div>
            <div class="w-full whitespace-normal text-center">
              <button
                class="px-3 py-2 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
              >
                Contact Validation
              </button>
            </div>
            <div class="w-1/2 whitespace-normal text-end"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Disini untuk search dan Button -->
    <div class="flex items-center justify-between mt-8">
      <div class="flex items-center">
        <div class="relative mx-4 lg:mx-0">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <Icon icon="ion:search" />
          </span>

          <input
            class="w-32 pl-10 pr-4 text-indigo-600 border-gray-200 rounded-md sm:w-64 focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500 shadow"
            type="text"
            placeholder="Search"
          />
        </div>
      </div>

      <!-- ini modals -->
      <div class="flex items-center">
        <div>
          <button
            @click="open = true"
            class="px-6 py-3 mt-3 mr-2 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
          >
            Add Target
          </button>

          <div
            :class="`modal ${
              !open && 'opacity-0 pointer-events-none'
            } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
          >
            <div
              @click="open = false"
              class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
            ></div>

            <form
              @submit.prevent="postData"
              class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded shadow-lg modal-container md:max-w-md"
            >
              <!-- Add margin if you want to see some of the overlay behind the modal-->
              <div class="px-6 py-4 text-left modal-content">
                <!--Title-->
                <div class="flex items-center justify-between pb-3">
                  <p class="text-2xl font-bold">Add a target</p>
                  <div
                    class="z-50 cursor-pointer modal-close"
                    @click="open = false"
                  >
                    <Icon icon="ion:close" class="w-6 h-6" />
                  </div>
                </div>

                <!--Body-->
                <div
                  class="px-5 py-6 text-gray-700 bg-gray-100 border-b rounded-lg"
                >
                  <label class="text-xs">Add Contact</label>

                  <div class="relative mt-2 my-4 rounded-md shadow">
                    <input
                      v-model="data.name"
                      placeholder="name of the target..."
                      type="text"
                      class="w-full py-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                    />
                  </div>

                  <label class="text-xs">Telp. Number</label>
                  <div class="mt-2 rounded-md shadow">
                    <input
                      class="w-full py-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                      type="text"
                      placeholder="Telephone number of the target..."
                      v-model="data.telephone"
                    />
                  </div>
                </div>

                <!--Footer-->
                <div class="flex justify-end pt-4">
                  <div
                    @click="open = false"
                    class="cursor-pointer p-3 px-6 py-3 mr-2 text-indigo-500 bg-transparent rounded-lg hover:bg-gray-100 hover:text-indigo-400 focus:outline-none"
                  >
                    Close
                  </div>
                  <button
                    type="submit"
                    @click="open = false"
                    class="px-6 py-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <button
        class="px-5 py-3 mt-3 mr-2 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
      >
        Download Format
      </button>
      <div class="mt-2">
        <div v-if="!file">
          <label
            for="csv-upload"
            class="cursor-pointer px-5 py-3.5 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
          >
            Import Contact
          </label>
          <input
            id="csv-upload"
            type="file"
            class="hidden"
            accept=".csv"
            @change="handleFileUpload"
          />
        </div>
        <div v-else>
          <p class="mb-4">Selected file: {{ file.name }}</p>
          <button
            class="px-5 py-3 mt-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
            @click="uploadFile"
          >
            Upload
          </button>
        </div>
      </div>
    </div>

    <!-- Disini untuk Table -->
    <div class="flex flex-col mt-8">
      <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div
          class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
        >
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Target phone number
                </th>
                <th
                  class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Status
                </th>
                <th
                  class="px-6 py-3 text-xs text-center font-medium leading-4 tracking-wider text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                >
                  Action
                </th>
              </tr>
            </thead>

            <tbody class="bg-white">
              <tr v-for="(u, index) in displayedData" :key="index">
                <td
                  class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                >
                  <div
                    class="flex items-center text-sm font-medium leading-5 text-gray-900"
                  >
                    {{ u.telephone }}
                  </div>
                </td>

                <td
                  class="px-6 py-4 border-b border-gray-200 whitespace-nowrap"
                >
                  <div class="text-sm leading-5 text-gray-900">Valid</div>
                </td>

                <td
                  class="flex justify-center px-6 py-4 text-sm font-medium leading-5 text-right border-b border-gray-200 whitespace-nowrap"
                >
                  <a href="#" class="text-indigo-600 hover:text-indigo-900 mr-2"
                    >Detail</a
                  >
                  <span class="cursor-pointer">
                    <div>
                      <button
                        @click="openEdit = true"
                        class="cursor-pointer text-indigo-600 hover:text-indigo-900 mr-2"
                      >
                        Edit
                      </button>

                      <div
                        :class="`modal ${
                          !openEdit && 'opacity-0 pointer-events-none'
                        } z-50 fixed w-full h-full top-0 left-0 flex items-center justify-center`"
                      >
                        <div
                          @click="openEdit = false"
                          class="absolute w-full h-full bg-gray-900 opacity-50 modal-overlay"
                        ></div>

                        <form
                          @submit.prevent="updateData(u._id)"
                          class="z-50 w-11/12 mx-auto overflow-y-auto bg-white rounded shadow-lg modal-container md:max-w-md"
                        >
                          <!-- Add margin if you want to see some of the overlay behind the modal-->
                          <div class="px-6 py-4 text-left modal-content">
                            <!--Title-->
                            <div class="flex items-center justify-between pb-3">
                              <p class="text-2xl font-bold">Edit contact</p>
                              <div
                                class="z-50 cursor-pointer modal-close"
                                @click="openEdit = false"
                              >
                                <Icon icon="ion:close" class="w-6 h-6" />
                              </div>
                            </div>

                            <!--Body-->
                            <div
                              class="px-5 py-6 text-gray-700 bg-gray-100 border-b rounded-lg"
                            >
                              <label class="text-xs">Name</label>

                              <div class="relative mt-2 my-4 rounded-md shadow">
                                <input
                                  v-model="groupName"
                                  type="text"
                                  placeholder="Target name..."
                                  class="w-full p-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                                />
                              </div>
                              <label class="text-xs">Phone number</label>

                              <div class="relative mt-2 my-4 rounded-md shadow">
                                <input
                                  v-model="phoneNumber"
                                  type="text"
                                  placeholder="Target phone number"
                                  class="w-full p-2 border-transparent rounded-md appearance-none focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
                                />
                              </div>
                            </div>

                            <!--Footer-->
                            <div class="flex justify-end pt-4">
                              <div
                                @click="openEdit = false"
                                class="cursor-pointer p-3 px-6 py-3 mr-2 text-indigo-500 bg-transparent rounded-lg hover:bg-gray-100 hover:text-indigo-400 focus:outline-none"
                              >
                                Close
                              </div>
                              <button
                                @click="openEdit = false"
                                type="submit"
                                class="px-6 py-3 font-medium tracking-wide text-white bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none"
                              >
                                Submit
                              </button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </span>
                  <span
                    @click="deleteData(u._id)"
                    class="cursor-pointer text-red-600 hover:text-red-900"
                  >
                    delete
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="">
      <ul class="flex justify-end mt-4">
        <li class="">
          <button
            :disabled="dataState.currentPage === 1"
            @click="dataState.currentPage--"
            class="bg-white cursor-pointer relative inline-flex items-center rounded-l-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            :class="{ 'text-gray-400': dataState.currentPage === 1 }"
          >
            <span class="sr-only">Previous</span>
            <Icon icon="ion:chevron-back" />
          </button>
        </li>
        <div v-if="pages[4] + 1 > 6">
          <li
            @click="dataState.currentPage = 1"
            class="bg-white cursor-pointer relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            1
          </li>
          <li
            class="bg-white relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            ...
          </li>
        </div>
        <div v-for="page in pages" :key="page">
          <li class="">
            <button
              :class="[
                {
                  'relative z-10 inline-flex items-center bg-blue-600 px-4 py-2 text-sm font-semibold focus:z-20 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600':
                    page === dataState.currentPage,
                  '  hover:bg-gray-100': page !== dataState.currentPage,
                },
              ]"
              @click="dataState.currentPage = page"
              :disabled="page === dataState.currentPage"
              class="relative inline-flex items-center justify-center h-9 w-9 text-sm font-semibold ring-1 ring-inset ring-gray-300"
            >
              {{ page }}
            </button>
          </li>
        </div>
        <div v-if="pages[4] < totalPages">
          <li
            class="bg-white relative inline-flex items-center px-3 py-2 h-9 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            ...
          </li>
          <li
            @click="dataState.currentPage = totalPages"
            class="bg-white cursor-pointer relative inline-flex items-center px-3 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
          >
            {{ totalPages }}
          </li>
        </div>
        <li class="">
          <button
            :disabled="dataState.currentPage === totalPages"
            @click="dataState.currentPage++"
            class="bg-white relative inline-flex items-center rounded-r-md px-2 py-2 h-9 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"
            :class="{ 'text-gray-400': dataState.currentPage === totalPages }"
          >
            <span class="sr-only">Previous</span>
            <Icon icon="ion:chevron-forward" />
          </button>
        </li>
      </ul>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Icon } from '@iconify/vue';
import { useTableData } from '../hooks/useTableData';
import { ref, onMounted, computed, defineProps } from 'vue';
import axios, { AxiosResponse } from 'axios';
import Papa from 'papaparse';

const props = defineProps<{
  id: string;
}>();

const open = ref(false);
const openEdit = ref(false);

interface Contacts {
  name: string;
  telephone: string;
  _id: string;
}

interface Groups {
  _id: string;
  title: string;
  channel: string;
  contacts: {
    name: string;
    telephone: string;
    _id: string;
  }[];
  total_contacts: number;
}

const contacts = ref<Contacts[]>([]);
const groups = ref<Groups[]>([]);

const fetchData = async (id: string) => {
  try {
    const response = await axios.get(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${id}`,
      {
        headers: {
          'Access-Control-Allow-Origin': 'http://localhost:8080',
        },
      }
    );
    groups.value = response.data;
    contacts.value = response.data.contacts;
  } catch (error) {
    console.log(error);
  }
};

onMounted(() => {
  console.log(groups);
  fetchData(props.id);
});

interface DataState {
  data: [];
  responses: any[];
  currentPage: number;
  itemsPerPage: number;
  isShowModal: boolean;
  isAdd: boolean;
  query: string;
  searchTerm: string;
  items: string[];
  showDropdown: boolean;
  selectedItems: string[];
}

const dataState = ref<DataState>({
  data: [],
  responses: [],
  currentPage: 1,
  itemsPerPage: 5,
  isShowModal: false,
  isAdd: false,
  query: '',
  searchTerm: '',
  items: [
    'Agus Hendrawan',
    'Maulana Ibrahim',
    'Kepadamu dulu aku jatuh cinta',
    'Item 4',
    'Item 5',
  ],
  showDropdown: false,
  selectedItems: [],
});

interface DataPost {
  name: string;
  telephone: string;
}

const data = <DataPost>{
  name: '',
  telephone: '',
};

const totalPages = computed(() => {
  return Math.ceil(contacts.value.length / dataState.value.itemsPerPage);
});

const pages = computed(() => {
  let pages = [];
  const maxPages = 5; // Limit to 5 pages
  let startPage = 1;
  let endPage = totalPages.value;
  if (totalPages.value > maxPages) {
    const middlePage = Math.floor(maxPages / 2);
    startPage = Math.max(dataState.value.currentPage - middlePage, 1);
    endPage = Math.min(startPage + maxPages - 1, totalPages.value);
    if (endPage - startPage < maxPages) {
      startPage = endPage - maxPages + 1;
    }
  }
  for (let i = startPage; i <= endPage; i++) {
    pages.push(i);
  }
  return pages;
});

const displayedData = computed(() => {
  let startIndex =
    (dataState.value.currentPage - 1) * dataState.value.itemsPerPage;
  let endIndex = startIndex + dataState.value.itemsPerPage;
  return contacts.value.slice(startIndex, endIndex);
});

function postData() {
  axios
    .post<{ channel: Contacts[] }>(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${props.id}`,
      {
        contacts: [{ name: data.name, telephone: data.telephone }],
      }
    )
    .then((response) => {
      console.log(response.data);
      fetchData(props.id);
    })
    .catch((e) => {
      console.log(e);
    });
}

function updateData(id: string) {
  axios
    .put(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${props.id}`,
      {
        name: groupName.value,
        telephone: phoneNumber.value,
      }
    )
    .then((response) => {
      console.log(response.data);
      fetchData(id);
    })
    .catch((e) => {
      console.log(e);
    });
}

function deleteData(id: string) {
  axios
    .delete<{ channel: Contacts[] }>(
      `https://backend-interview-bot.vercel.app/api/v1/contacts/groups/${id}`
    )
    .then((response) => {
      console.log(response.data);
    })
    .catch((e) => {
      console.log(e);
    });
}

// import contact
const file = ref<File | null>(null);

const handleFileUpload = (event: Event) => {
  const input = event.target as HTMLInputElement;
  if (input.files && input.files.length > 0) {
    file.value = input.files[0];
  }
};

const uploadFile = async () => {
  if (!file.value) {
    return;
  }

  const formData = new FormData();
  formData.append('contacts', file.value);

  try {
    const response = await axios.post(
      'https://backend-interview-bot.vercel.app/api/v1/contacts/import',
      formData,
      {
        headers: {
          'Content-Type': 'multipart/form-data',
        },
      }
    );
    console.log(response.data);
  } catch (error) {
    console.error(error);
  }

  file.value = null;
};

// edit data
let groupName = ref('');
let phoneNumber = ref('');

const { simpleTableData, paginatedTableData, wideTableData } = useTableData();
</script>
