<template>
  <div>
    <div>
      <router-link to="/forms" class="text-3xl font-medium text-gray-500"
        >Forms</router-link
      >
      <span class="text-3xl font-medium">&nbsp;>&nbsp;Add forms</span>
    </div>

    <div class="bg-white mt-4 rounded-lg shadow-sm py-4 px-6">
      <form @submit.prevent="postData">
        <div class="sr-only text-2xl font-medium text-center">Add Forms</div>

        <div>
          <label for="title" class="text-lg font-medium">Form Title </label>
          <input
            v-model="title"
            type="text"
            placeholder="Enter the form title here..."
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
          <div class="mt-3 flex">
            <div
              class="text-base font-normal mr-12 flex justify-center items-center"
            >
              Take from contact?
            </div>
            <div
              class="flex items-center bg-gray-300 rounded-full w-14 h-18 p-1 cursor-pointer"
              :class="{
                'bg-indigo-600 ': isActive,
              }"
              @click="toggle"
            >
              <div
                class="h-6 w-6 rounded-full shadow-md transform bg-white"
                :class="{
                  'translate-x-6': isActive,
                }"
              ></div>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <label for="contact" class="font-medium">Contact </label>
          <input
            :disabled="!isActive"
            v-model="contact"
            type="text"
            placeholder=""
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
            :class="{ 'bg-gray-100': !isActive }"
          />
        </div>
        <div class="mt-4">
          <div class="flex justify-between items-end mb-3">
            <label for="format" class="font-medium">Contact Import</label>
            <button
              class="px-4 py-2 tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500"
            >
              Download format
            </button>
          </div>
          <input
            type="text"
            placeholder=""
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
        </div>
        <div class="mt-4">
          <label for="aiChar" class="font-medium">AI Character</label>
          <input
            v-model="botId"
            type="text"
            placeholder="Humble, Fun "
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
        </div>
        <div class="mt-4">
          <label for="language" class="font-medium">Select language</label>
          <select
            id="language"
            v-model="lang"
            class="form-select block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          >
            <option value="en">English</option>
            <option value="id">Bahasa Indonesia</option>
            <option value="es">Spanish</option>
            <option value="ms">Malay</option>
          </select>
        </div>
        <div class="mt-4">
          <label for="expired" class="font-medium">Expired date</label>
          <input
            v-model="expired"
            type="date"
            placeholder=""
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
        </div>
        <div class="mt-4">
          <label for="topics" class="font-medium">Form topics</label>
          <input
            v-model="topics"
            type="text"
            placeholder="Enter the topics for the form..."
            class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
          />
        </div>
        <div class="my-4">
          <label for="fields" class="font-medium"
            >Necessary data (ex: name, phone number, addres, etc.)</label
          >
          <div class="flex">
            <input
              v-model="newField"
              type="text"
              placeholder="Enter the topics for the form..."
              class="block w-full mt-1 border-gray-200 rounded-md focus:border-indigo-600 focus:ring focus:ring-opacity-40 focus:ring-indigo-500"
            />
            <span
              @click="addField"
              class="flex items-center px-4 h-12 mt-1 ml-2 tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500 cursor-pointer"
            >
              Add
            </span>
          </div>
          <div class="mt-2 border border-gray-200 rounded p-2 text-gray-500">
            <ul>
              <li v-for="(field, index) in fields" :key="index">
                {{ field }}
                <span
                  type="button"
                  @click="removeField(index)"
                  class="ml-2 text-red-500 cursor-pointer"
                  >Remove</span
                >
              </li>
              <li v-if="fields < 1">Tambahkan data yang dibutuhkan</li>
            </ul>
          </div>
        </div>
        <div class="flex justify-end">
          <router-link
            to="/forms"
            class="px-4 mr-3 py-2 tracking-wide text-indigo-600 capitalize transition-colors duration-200 transform bg-white rounded-md hover:bg-gray-200 focus:outline-none focus:bg-indigo-500"
          >
            Cancel
          </router-link>
          <button
            type="submit"
            class="px-4 py-2 tracking-wide text-white capitalize transition-colors duration-200 transform bg-indigo-600 rounded-md hover:bg-indigo-500 focus:outline-none focus:bg-indigo-500"
          >
            Sumbit
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<script setup lang="ts">
import axios from 'axios';
import { ref, onMounted, defineProps } from 'vue';
import { useRouter } from 'vue-router';
import { toggleSwitch } from '../hooks/useToggleSwitch';

const title = ref('');
const contact = ref('');
const botId = ref('');
const lang = ref('en');
const expired = ref(new Date());
const topics = ref('');
const fields = ref<any>([]);
const newField = ref('');

const languageOptions = [
  { text: 'Indonesia', value: 'id' },
  { text: 'English', value: 'en' },
  { text: 'Spanish', value: 'es' },
  { text: 'French', value: 'fr' },
];

const isActive = ref(false);

function toggle() {
  isActive.value = toggleSwitch(isActive.value);
  console.log(isActive.value);
}

function postData() {
  axios
    .post(`https://backend-interview-bot.vercel.app/api/v1/forms`, {
      title: title.value,
      targets: '6425aa1de718816ca001d42e',
      goal: topics.value,
      botId: botId.value,
      fields: fields.value,
      expired_date: expired.value,
    })
    .then((response) => {
      console.log(response.data);

      routers.push('/forms');
    })
    .catch((e) => {
      console.log(e);
    });
}

const routers = useRouter();
function addField() {
  if (newField.value.trim() !== '') {
    fields.value.push(newField.value.trim());
    newField.value = '';
  }
}

function removeField(index: number) {
  fields.value.splice(index, 1);
}

onMounted(() => {});
</script>
